<ion-view view-title="foto">
<ion-nav-title>{{tittle}}</ion-nav-title>
      <!-- <ion-nav-buttons side="right">
         
     
		    <button ng-click="setOfflineMode(true)" ng-show="!off.offlineMode " class="button button-positive button-clear button-icon icon ion-toggle animated" >{{off.offlineMode}}</button>
		       <button ng-click="setOfflineMode(false)" ng-show="off.offlineMode  " class="button button-positive button-clear button-icon icon ion-toggle-filled animated" >
		        {{off.offlineMode}}
		     </button>
 
        </ion-nav-buttons>  -->

<!-- <div class="float-button fbAdd">
  <span class="height-fix">
    <a on-touch="addPlaca()"  class="button content button-icon ">
    
      <i class="ion-plus-round my-icon"> </i>
    </a>
  </span>
</div> -->

<div class="float-button fbVideoCompress" ng-show="imgUnsync.length>0 && !off.offlineMode && oss.isOnline">
  <span class="height-fix">
    <a on-touch="syncImgUnsync()"  class="button content button-icon ">
    <!-- ui-sref="add-trip" -->
      <i class="ion-android-upload my-icon"> </i>
    </a>
  </span>
</div>
<div class="float-button fbCamera">
  <span class="height-fix">
    <!-- <a on-touch="getPicFile()"  class="button content button-icon "> -->
	<a on-touch="openModal()"  class="button content button-icon ">
    <!-- ui-sref="add-trip" -->
      <i class="ion-camera my-icon"> </i>
    </a>
  </span>
</div>
  <ion-content delegate-handle="mainScroll">
  
    	<!-- <div class="list card mt" ng-repeat="foto in vm.fotos | unique" > -->
      <div class="list card mt" ng-repeat="foto in vm.fotos " >

	
	  	  <div class="item  item-select">
		   
		   <select ng-model="foto.idtipo" ng-options="nombreImage.idTipoFoto as nombreImage.NombreFoto  for nombreImage in names" 	class="pull-left" 
    		ng-change="setname(foto.idtipo, foto)">
        </select> 
		  </div>

		  <div class="item item-image">
		    <img ng-src={{foto.path}}>
		  </div>

		  <div class="item item-icon assertive" >
			  <button ng-show="!foto.sync && !foto.onUpload " ng-disabled="!oss.isOnline" on-touch="tryUpload(foto)" class="button button-icon  ">
			    <i  class="icon ion-refresh red"></i>
			  </button>

		    <i  ng-show="foto.sync" class="icon ion-checkmark-round green"></i>
		    <ion-spinner ng-show="foto.onUpload"></ion-spinner><span ng-show="foto.onUpload">{{foto.percentage}}</span>
	      </div>
 
		    
		  

	</div>

  </ion-content>
</ion-view>
