	<!-- <input type="text" ng-model="data.placa"/> -->
	
	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	    
	    <input type="text" placeholder="placa" ng-model="vm.placa">
	  </label>
	 
	</div>

	<div class="bar bar-header item-input-inset">
	  <label class="item-input-wrapper">
	  <span><!-- servicio --> </span>
	   
	    <select class="ml15" ng-model="vm.sl"  ng-options="service.label for service in vm.servicios" ng-change="vm.changeService(vm.sl)"
	    ng-init="vm.onInitSrv();" >       
  	</select>
	  </label>
	 
	</div>


 
</div>